/* importing google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Roboto:wght@300;400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
    font-size: 10px;
}

body{
  width: 100vw;
  background-color: #101014;
  overflow-x: hidden;
}

/* Styling header */

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px 15px 25px;
  margin: 15px;
  margin-bottom: 30px;
}

.header img{
  width: 180px;
}

.search-wrapper{
  position: relative;
}

.fa-magnifying-glass{
  position: absolute;
  color: #bdbdbd;
  top: 12px;
  left: 13px;
  font-size: 1.6rem;
}

#cityInput{
  outline: none;
  width: 100%;
  background-color: #1e1e1e;
  border: none;
  padding: 11px 55px;
  border-radius: 16px;
  font-size: 1.5rem;
  color: #ffffffef;
}

::placeholder{
  color: #848484;
  
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-image: url('x.png');
  background-size: 10px 10px;
}

.get-weather{
  background-color: #adcade;
  border-radius: 16px;
  cursor: pointer;
  padding: 10px 20px;
  letter-spacing: normal;
  word-spacing: normal;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
}
.fa-location-crosshairs{
  margin-right: 4px;
}

/* styling weather-now section  */

main{
  padding: 25px 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
}

.weather-now{
  background-color: #1b1a1d;
  width: 20vw;
  height: 40vh;
  border-radius: 16px;
  cursor: pointer;
  align-self: flex-start;
}

.day-time{
  background-color: #adcade;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
}
.day-time h3{
  color: #03090e;
  font-size: 1.9rem;
  font-weight: 700;
}

.now{
  font-size: 2rem;
  color: #ffffffd8;
  margin: 15px 10px;
  letter-spacing: normal;
  word-spacing: normal;
}
.current-temperature{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
}

#current-deg{
  font-size: 4.5rem;
  font-weight: 900;
  color: #ffffff;
}
#current-weather-logo{
  width: 70px;
  height: 70px;
}

#weather-type{
  color: #bdbdbd;
  font-size: 1.4rem;
  margin-left: 30px;
}

.current-weather-location{
  padding: 20px 15px;
  font-size: 1.4rem;
  color: #858486;
}
.fa-location-dot{
  margin-right: 8px;
}

/* styling todays highlights section  */

.todays-highlights{
  background-color: #1b1a1d;
  height: 60vh;
  width: 65vw;
  border-radius: 16px;
  cursor: pointer;
  align-self: flex-start;
  padding: 20px;
}
.highlights-container{
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
}

.air-quality{
  flex-basis: 630px;

}

.highlights-item{
  background-color: #10101481;
  height: 130px;
  width: 200px;
  border-radius: 16px;
  padding: 15px;


}
.highlights-heading{
  color: #C0BEC8;
  font-size: 1.6rem;
  text-align: center;
}
.air-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#air-index{
  padding: 6px;
  border-radius: 16px;
  cursor: pointer;
  border: none;
}

#air-details{
  font-size: 1.2rem;
  color: #7d7c7e;
}
.air-quality-item{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: -18px;
}
.highlights-detail{
  color: #ffffffd8;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

/* styling footer  */
 footer{
  position: absolute;
  bottom: 0;
  width: 100vw;
 }

 .footer{
  font-size: 1.8rem;
  color: #858486;
  text-align: center;
  margin-bottom: 8px;
  
 }
 .credit{
    font-size: 1.3rem;
    position: absolute;
    right: 10px;
    bottom: 0;
 }
 .credit a {
  text-decoration: none;
  color: #C0BEC8;
 }
.design{
  color: #ffffffd8;
}

/* media queries  */
 

@media only screen and (max-width: 1360px)  {
 
  main{
    flex-direction: column;
    gap: 20px;
  }
  .todays-highlights{
    height: fit-content;
    width: fit-content;
  }
  .highlights-item{
     width: 160px;
     height: 90px;
     padding: 10px;
     flex-grow: 3;
  }

  .highlights-heading,.air-head{
    font-size: 1.4rem;
  }
  .highlights-detail{
    font-size: 1.6rem;
  }

  #air-details{
    font-size: 1rem;
  }
  #air-index{
    padding: 3px;
    font-size: 0.8rem;
  }
.wind-speed-container{
  flex-basis: 3;
}

footer{
  position: relative;
}
.weather-now{
  width: 40vw;
}

.header img{
  width: 110px;
}
#cityInput{
  width: 200px;
}
#submit{
  width: 100px;
  font-size: 1.2rem;
}
.footer .credit{
  font-size: 1rem;
}
}

@media only screen and (max-width:500px){
  .header{
   margin: 0px;
   justify-content: space-between;
  }
  .header img{
  width: 70px;
}
#submit{
  width: 65px;
  font-size: 0.9rem;
}
#cityInput{
  width: 170px;
}
.weather-now{
  width: 65vw;
  height: 40vh;
}
.todays-highlights{
  height: max-content;
}
.air-quality-item{
 font-size: 1rem;
}

.footer .credit{
  font-size: 0.4rem;
}
}